<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<c:set var="ctx" value="${pageContext.request.contextPath}" />

<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="${ctx}">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Klanten
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                    <li><a class="dropdown-item" href=showclients>Raadpleeg</a></li>
                    <li><a class="dropdown-item" href=editclient>Pas aan...</a></li>
                    <li><a class="dropdown-item" href=addclient>Voeg toe...</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Leveranciers
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <li><a class="dropdown-item" href=showsuppliers>Raadpleeg</a></li>
                    <li><a class="dropdown-item" href=underconstruction>Pas aan..</a></li>
                    <li><a class="dropdown-item" href=addsupplier>Voeg toe...</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Producten
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                    <li><a class="dropdown-item" href=showproducts>Raadpleeg</a></li>
                    <li><a class="dropdown-item" href=editproduct>Pas aan...</a></li>
                    <li><a class="dropdown-item" href=addproduct>Voeg toe...</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Bestellingen
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href=underconstruction>Historiek bestellingen</a></li>
                    <li><a class="dropdown-item" href=underconstruction>Maak nieuwe bestelling...</a></li>
                </ul>
            </li>

        </ul>
        <%--<button type="button" class="btn btn-info" onclick="showButton()">Shop manager</button>
        <script>
            function showButton() {
                document.getElementById("navbarDropdown1").style.display="block";
                document.getElementById("navbarDropdown2").style.display="block";
                document.getElementById("navbarDropdown3").style.display="block";
            }
            window.onload= function() {
                document.getElementById("navbarDropdown1").style.display = "none";
                document.getElementById("navbarDropdown2").style.display = "none";
                document.getElementById("navbarDropdown3").style.display = "none";
            }
        </script>--%>
    </div>
</nav>