.error-container{
    text-align: center;
}

.error-content{
    display:inline-block;
}

body{
    margin-bottom:50px;
}

.footer {
    height:48px;
    width: 100%;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
    background-color: #333;
    color:#fff;
    margin: 0 auto;

}

.form-group {
    margin-right: 10px;
}

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    /*left:-100%;*/
    left:-10rem; /* 10rem is the min-width of dropdown-menu */
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}

.navbar-custom {
    background-color: #004085;
}
/* Modify brand and text color */

